
    <!-------------------------
    Header
    -------------------------->
      <div class="row">
        <div class="column">
          <div id="navbar">
        <ul>
          <img class="img3"[src]=myimage7>
          <li><button class="button">Get Started</button></li>
          <li><button class="button-login">Login</button></li>
          <li><a href="#home">Pricing</a></li>
          <li><a href="#news">Solutions</a></li>
          <li><a href="#contact">Products</a></li>
        </ul>
        </div>
      </div>
    </div>
      <div class="row ml-3 mt-160 banner-row">
        <img class="imgg1"[src]=myimage9>
      
        <div class="column banner-1">
          <!-- <img class="imgg1"[src]=myimage9> -->
          <p class="heading3">We make it Super Simple</p> 
              <hr class="line" >
              <img class="img2"[src]=myimage6>
              <img class="imggg"[src]=myimage10>
        </div>
        
        <!-- <div class=" background"> -->
          <!-- <img class=""[src]=myimage8> -->
          <img class="imgg  circle-1"[src]=myimage8>
        <!-- </div> -->
      </div> 
      <div class="row">
        <div class="column calc-1">
          <div class="card card-banner">
            <div class="card-header">
              <h3>Featured</h3>
            </div>
            <div class="card-body">
            <p>
              <label for="number">Minimum Range:</label>
              <input type="text" id="number" readonly style="border:0; color:#f6931f; font-weight:bold;">
            </p>
              
            <div id="min-range-slider"></div><br>
            <p>
              <label for="number">Maximum Range:</label>
              <input type="text" id="number1" readonly style="border:0; color:#f6931f; font-weight:bold;">
            </p>
              
            <div id="min-range-slider1"></div><br>
              <label for="cars">Choose a car:</label><br>
              <select name="cars" id="cars" class="tenure">
                <option value="6 Months">6 Months</option>
                <option value="saab">Saab</option>
                <option value="opel">Opel</option>
                <option value="audi">Audi</option>
              </select>
                <br>
                <br>
                <p>Do You have an existing loan <span><label class="switch"> 
                  <input type="checkbox">
                  <span class="slider round"></span>
                </label></span></p>
                <label>EMI of an Existing loan(optional)</label>
                <input type="text" id="loan_amt" class="loan_amt" value="16,000">
          </div>
        </div>
      </div>
      <div class="column calc-2">
        <div class="card card-2">
          <div class="container img-outer">
            <p >Loan Amount </p> 
            <p>1,00,000</p>
            <p >Your EMI Will be</p> 
            <p>15,000</p><br>
            <button class="btn btn-primary">Get Money</button>
          </div>
        </div>
      </div>
      <img class="imggg2"[src]=myimage10>
    </div>

      <div class="row background2">
        <div class="column ml-3 mr-48 mt--86">
          <div class="card mb-60">
            <div class="container img-outer">
              <img class="img"[src]=myimage1>
              <p class="heading">Quick cash disbursement</p> 
              <p class="subheading">Get terms loans that your business needs within 72 hrs</p> 
            </div>
          </div>
          <div class="card mb-60">
            <div class="container img-outer">
              <img class="img"[src]=myimage2>
              <p class="heading">Low-interest rate</p>
              <p class="subheading">Achieve your financial goals with an amazing interest rate starting at 13% per annum</p> 
            </div>
          </div>
          <div class="card">
            <div class="container img-outer">
              <img class="img"[src]=myimage3>
              <p class="heading">Zero Paperwork</p> 
              <p class="subheading">Get started instantly by submitting only your basic details & bank statements</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="container img-outer">
              <img class="img"[src]=myimage4>
              <p class="heading">Ace your business finances</p>
              <p class="subheading">Manage banking, accounting & everything in between, on one platform</p> 
            </div>
          </div>
          <div class="card mt-60">
            <div class="container img-outer">
              <img class="img"[src]=myimage5>
              <p class="heading">Loans to fight COVID-19</p> 
              <p class="subheading">Zero EMI for first 3 months on Back-to-Business loans of upto 1 lakh</p>
            </div>
          </div>
        </div>
        <div class="column column-size">
              <p class="heading2">Boost your business with Open</p> 
              <hr>
              <p class="subheading2">Get your hands on a term loan that’s crafted for your business</p>
              <button class="button-1">Get an Open Account</button>
      
        </div>
      </div>
<router-outlet></router-outlet> 